@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&family=Noto+Emoji:wght@300..700&family=Special+Elite&display=swap');

body{
  margin: 0;
  padding: 0;

  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Special Elite';
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Coustard';

  margin: 0;
  padding: 0;
}

button{
  cursor: pointer;
}

input, a, ul, li{
  all: unset;
}

:root{
  --background-color: #202020;
  --primary-color: #4B4E4B;
  --active-color: #FFD700;
  --text-color: #FFFFFF;
}

.emoji, .emoji-small, .emoji-big{
  font-family: 'Noto Emoji';
  user-select: none;
  color: red;
}

.emoji-small{
  font-size: 64px;
}
.emoji-big{
  font-size: 128px;
}

.icon{
  width: 32px;
  height: 32px;
}

button.btn-icon{
  background: none;
  border: none;
  outline: none;
}
.btn-icon{
  fill: var(--text-color);

  display: inline-flex;
  justify-content: center;
  align-content: center;

  border-radius: 3px;
  padding: 10px;
  transition-property: background;
  transition-duration: 250ms;
}
.btn-icon:hover{
  background-color: var(--primary-color);
}

a.btn-dashed{
  display: inline-flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
button.btn-dashed{
  background: none;
  font-family: inherit;
}

.btn-dashed{
  color: var(--text-color);
  font-size: 24px;
  padding: 5px;
  border: 3px var(--text-color) dashed;
  box-sizing: border-box;

  transition-property: background color border;
  transition-duration: 250ms;
}
.btn-dashed:hover{
  background-color: var(--active-color);
  color: var(--background-color);
  border-color: transparent;
}

.center-view{
  max-width: var(--limit, 720px);
  margin: auto;
}

.full-height{
  display: flex;
  flex-direction: column;
  height: 100vh;
}